/* App.css */
.table-wrapper {
    overflow-x: auto; /* Adiciona scroll horizontal quando necessário */
  }
  
  /* Mantenha o restante dos estilos para a tabela conforme fornecido */
  .App {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7; /* Cor de fundo suave */
  }
  
  h1 {
    text-align: center;
    color: #4CAF50; /* Verde suave */
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    color: #4CAF50; /* Verde suave */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .acoes button {
    margin-right: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .excluir {
    background-color: #f44336; /* Vermelho suave */
    color: white;
  }
  
  .salvar {
    background-color: #4CAF50; /* Verde suave */
    color: white;
  }
  
  .editar {
    background-color: #2196F3; /* Azul suave */
    color: white;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
  }
  
  /* Estilos para o botão Adicionar */
  /* App.css */
  .adicionar {
    background-color: #4CAF50; /* Verde suave */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px; /* Borda mais arredondada */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .adicionar:hover {
    background-color: #45a049; /* Verde um pouco mais escuro */
  }
  